 /* GLOBAL */

 *{
    margin: 0;
    padding: 0;
    
}
body {
    background: #ffedd5; /* hex: 0-f */
    margin-left: 300px; 
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;


}
ul{
    list-style: none;
}
/*FONTES*/

h1, h2, h3, .price {
    font-family: sans-serif;
    text-transform: uppercase;
    color: 2d2c2a;
}

/* HEADER */
header {
    padding: 32px 0;
   text-align: center;
}
header,
section {
    max-width: 300px;
    margin: 0 outo;
    text-align: initial;

 }
 header h1 span{
     color: #995000;
 }
 header h1 {
     margin: 4px;
     font-size: 28px;
 }
 /* SECTION*/
 section{
margin-bottom: 24px;

 }

 section h2 {
    background-color: #FED7AA;
    padding: 8PX 16PX;
    text-align: center;
    margin-bottom: 24px; 
    font-size: 18px;
    }
ul li{
    margin-bottom: 16px;
    display: flex;
}

li .details {
    max-width: 240px;
}
li .details h3 {
    max-width: 130px;
    font-size: 16px;
    line-height: 21px;
}
.details p{
    color: rgba(0, 0, 0, 0.6 );
    font-size: 14px;
    line-height: 21px;
}
